.footer {
    padding: 20px 0px;

    background-color: #181818;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.footer__wrapper button {
    max-width: 182px;
}

.footer__top {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.footer__link {
    font-family: 'Outfit Medium', sans-serif;
    font-size: 20px;
    font-weight: 500;

    text-transform: capitalize;
}

.footer__docs {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.footer__docs_desk {
    display: none;
}

.footer__doc {
    font-family: 'Outfit Medium', sans-serif;
    font-size: 20px;
    font-weight: 500;

    text-transform: capitalize;
}

.footer__geton {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer__copyright {
    font-family: 'Outfit Light', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;

    color: #b9b9b9;
}

/* Media */

@media (min-width: 992px) {
    
    .footer {
        padding: 40px 0px 20px;
    }

    .footer__wrapper {
        row-gap: 29px;
    }

    .footer__top {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .footer__links {
        flex-direction: row;
        column-gap: 40px;
    }

    .footer__link {
        font-size: 20px;
    }

    .footer__geton {
        flex-direction: row;
        column-gap: 20px;
    }

    .footer__additional {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__copyright {
        line-height: 1.4;
    }

    .footer__docs {
        display: none;
    }

    .footer__docs_desk {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
    }

    .footer__doc a {
        font-family: 'Outfit Light', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;

        text-decoration: underline;

        color: #b9b9b9;
    }

}