.digital {
    padding-bottom: 40px;

    background-color: #ffffff;
}

.digital__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    font-size: 20px;
    line-height: 1.2;

    color: #000000;
}

.digital__wrapper p {
    max-width: 340px;
}