.cta-btn {
    display: block;

    padding: 16px 110px;

    background-color: #954ced;

    border-radius: 16px;

    font-family: 'Outfit SemiBold', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0px;
}

.bg-line {
    position: absolute;

    max-width: 400%;

    top: 40px;
    left: -19px;

    z-index: -9;
}